<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092976756308-ea4r340gtcr7jq9simc64sppm90qlo94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092976756308-ea4r340gtcr7jq9simc64sppm90qlo94</string>
	<key>API_KEY</key>
	<string>AIzaSyBZofnVHSZbc1A4bViIXoaSkdyRT5nC52s</string>
	<key>GCM_SENDER_ID</key>
	<string>1092976756308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WillMarda.PKDB</string>
	<key>PROJECT_ID</key>
	<string>pokemondb-80add</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemondb-80add.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092976756308:ios:2fe174b2144a4658780fc1</string>
	<key>DATABASE_URL</key>
	<string>https://pokemondb-80add.firebaseio.com</string>
</dict>
</plist>